#formatação{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: black;
}
#cent{
    width: 100%;
    display: flex;
    justify-content: center;
}
#grid-descr{
    width: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
}
.ps1{
    grid-column: 1/2;
}
.ps2{
    grid-column: 2/3;
    margin: 0;
    color: black;
    font-size: 1.5rem;
    height: 5rem;
}
.bord{
    border-top: solid rgb(218, 218, 218);
    padding-top: 5%;
}
.p-format{
    margin:0;
}
